body {
  font-family: helvetica;
}

/* Container holding the image and the text */
.building {
    position: relative;
}

/* Centered text */
  .broadway {
    left: 0;
     position: absolute;
     text-align: center;
     top: 0px;
     width: 100%;
     color: white;
}

h1 {
  font-size: 70px;
}

.nav {
  font-size: 18px;
  color: black;
}
